<!-- API -->
<script type="text/javascript" src="http://cdn.beaconpush.com/clients/client-1.js"></script>
<!-- /API -->

<script type="text/javascript" src="/static/js/wsservice/beaconpush.js"></script>