/* 
    Document   : sidebar
    Created on : 08.02.2012, 18:09:57
    Author     : vntw
    Description:
        Purpose of the stylesheet follows.
*/

table.sidebar-player-ranking {
    width: 100%;
}
table.sidebar-player-ranking thead tr th {
    border-bottom: 2px solid #EBEBEB;
    font-weight: bold;
    padding-bottom: 3px;
}

ul.box-navigation-simple,
ul.box-navigation-simple ul {
    list-style: square;
    padding-left: 20px;
}
ul.box-navigation-simple li {
    margin-bottom: 5px;
}
ul.box-navigation-simple li a.active {
    font-weight: bold;
}
ul.box-navigation-simple li.sub {
    list-style: none;
}

ul.widget-awards-given li {
    clear:both;
    height: 35px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 2px;
    margin-bottom: 10px;
}
ul.widget-awards-given li.last {
    border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
ul.widget-awards-given li span.fl {
    padding: 2px 0 0 8px;
}
div#sidebar-latest-matches  {
    margin-top: 3px;
}
div#sidebar-latest-matches > div {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
div#sidebar-latest-matches > div.last {
    border: 0;
}
div#sidebar-latest-matches div.team-container {
    width: 186px;
}

.no-data {
    font-size: 12px;
}