/*-------------------------------------
0. RESET
-------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}

strong {
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote, q {
    quotes: "" "";
}


/*----- 0.1. 978 GRID ----*/

.wrapper {
    width: 978px;
    margin: 0 auto;
    position:relative;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6,
.grid7, .grid8, .grid9, .grid10, .grid11 {
    float: left;
    display: inline;
    margin-left: 20px;
}

.grid1 { width: 62px; }
.grid2 { width: 104px; }
.grid3 { width: 204px; }
.grid4 { width: 270px; }
.grid5 { width: 314px; }
.grid6 { width: 436px; }
.grid7 { width: 600px; }
.grid8 { width: 644px; }
.grid9 { width: 710px; }
.grid10 { width: 810px; }
.grid11 { width: 844px; }

.content-first {
    margin-left: 0;
    clear: left;
}

/*-------------------------------------
   1. GLOBAL
-------------------------------------*/

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #404040;
    line-height: 1;
    background: #eee;
}

input, textarea {
    font-size: 14px;
    color: #404040;
}

p {
    color:#404040;
    margin-bottom: 10px;
    line-height: 22px;
}

a {
    outline: none;
    color: #444;
    text-decoration: none;
}
a:hover {
    color: #888;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.em {
    font-style: italic;
}

.clear {
    clear: both;
}

.grid {
    width: 980px;
    margin: 0 auto;
}

/*-------------------------------------
   2. HEADER
-------------------------------------*/

/*----- 2.1. TOP NAVIGATION -----*/

nav#top-bar {
    background: none repeat scroll 0 0 #333;
    border-bottom: 2px solid #D5D5D5;
    /*-webkit-box-shadow: 0 -1px 4px 1px #444;*/
    /*-moz-box-shadow: 0 -1px 7px 1px #444;*/
    /*box-shadow: 0 -1px 7px 1px #444;*/
    height: 35px;
    position: fixed;
    top: 0px;
    z-index: 1337;
    width: 100%;
}

nav#top-bar ul {
    margin: 0;
    height: 36px;
    padding-left: 2px;
    padding-right: 2px;
}

nav#top-bar #top-bar-menu,
nav#top-bar #top-bar-menu ul {
    float: left;
}

nav#top-bar #top-bar-menu li.first > span,
nav#top-bar #top-bar-menu li.player-notifications > span {
    padding-left: 0px;
}

nav#top-bar #top-bar-nav {
    float: right;
}

nav#top-bar ul li {
    font-size: 13px;
    float: left;
    height: 35px;
    position: relative;
}

nav#top-bar ul li > span {
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    float: left;
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
}

nav#top-bar ul#top-bar-nav li > span img {
    margin-top: 10px;
}


nav#top-bar ul#top-bar-menu li.player-ucp,
nav#top-bar ul#top-bar-nav li.player-check-nn {
    margin-right: 12px;
}

nav#top-bar ul li a:hover {
    text-decoration: none;
    visibility: inherit;
}


/*----- 2.2. TOP NAVIGATION DROPDOWN -----*/

nav#top-bar ul ul {
    position: absolute;
    top: -9999em;
    width: 191px;
    display: none;
    z-index: 99999;
    background: none;
}

nav#top-bar ul ul li {
    width: 191px;
}

nav#top-bar ul li ul.open {
    top: 35px;
    left: -6px;
    display: block;
}

nav#top-bar ul li ul li {
    padding: 10px;
    border: 2px solid #ccc;
    border-top: 0;
}

nav#top-bar ul ul.sub-menu {
    top: 35px;
}

nav#top-bar ul ul.sub-menu li {
    outline: 0;
    background: #222 !important;
    color: #fff;
    height: 39px;
    padding: 0;
    margin: 0;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

nav#top-bar ul ul li:hover {
    background-position: center bottom !important;
}

nav#top-bar ul ul li > span {
    padding: 0 20px;
    color: #404040;
    font-size: 13px;
    display: block;
    width: 172px;
    height: 39px;
    line-height: 39px;
    vertical-align: middle;
    margin: 0;
    text-shadow: none;
}

nav#top-bar ul ul li:hover ul,
nav#top-bar ul ul li.sfHover ul {
    left: 189px;
    top: -1px;
}

nav#top-bar ul ul ul li:first-child, #top-bar ul ul ul li.first {
    border-top:1px solid #f2f2f2 !important;
}


/*----- 2.3. LOGO & BANNER -----*/

header {
    height: 100px;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8f/78f0NDQ0YGKIAzMARgKjFUAABgXQgFprntcgAAAABJRU5ErkJggg==');
    z-index: 3;
    position: relative;
    margin-top: 35px;
}

header .wrapper {
    text-align: center;
}
header .wrapper h1 {
    display: inline-block;
    float: none;
    margin-top: 24px;
}

header .banner {
    float: right;
    margin-top: 20px;
    box-shadow: 0 1px 2px #EEE;
    -moz-box-shadow: 0 1px 2px #EEE;
    -webkit-box-shadow: 0 1px 2px #EEE;
}


/*----- 2.4. MAIN MENU -----*/

nav#header-nav {
    border-bottom: 1px solid #E1E1E1;
    /*border-top: 1px solid #E2E2E2;*/
    /*box-shadow: 0 2px 2px 1px #EEEEEE;*/
    height: 50px;
    position: relative;
    z-index: 2;
	margin-top: 38px;
    background: #EBEBEB;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(250,250,250,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 100%);
}

nav#header-nav ul {
    margin: 0;
    height: 50px;
}

nav#header-nav ul li {
    float: left;
    height: 49px;
    position: relative;
    margin-right: 25px;
    z-index: 100;
}

nav#header-nav ul li.first {
    margin-left: 15px;
}

nav#header-nav ul li:hover {
    border-bottom: 2px solid #999999;
}

nav#header-nav ul ul.sub-menu li:hover {
    border-bottom: 0;
}

nav#header-nav ul li:last-child,
nav#header-nav ul li.last {
    margin-right: 0;
}

nav#header-nav ul li a {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    font-weight: bold;
    padding: 0 4px;
    color: #404040;
}

nav#header-nav ul li a:hover {
    text-decoration: none;
    visibility: inherit;
}

/*----- 2.5. MAIN MENU DROPDOWN -----*/
nav#header-nav ul ul {
    position: absolute;
    top: -9999em;
    width: 191px;
    display: none;
    z-index: 9999;
    background: none;
}

nav#header-nav ul ul li {
    width: 191px;
    z-index: 105;
    position: relative;
}

nav#header-nav ul li:hover ul,
nav#header-nav ul li.sfHover ul {
    left: -4px;
    top: 51px;
}

nav#header-nav ul li:hover li ul,
nav#header-nav ul li.sfHover li ul {
    top: -9999em;
}

nav#header-nav ul li li:hover ul,
nav#header-nav ul li li.sfHover ul {
    left: 175px;
    top: -2px;
}

nav#header-nav ul ul {
    margin-top: 1px;
}

nav#header-nav ul ul li {
    outline: 0;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    height: 39px;
    padding: 0;
    margin: 0;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    box-shadow: 0px 4px 8px 0px #ccc;
}

nav#header-nav ul ul li {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
nav#header-nav ul ul li.first {
    margin: 0;
    border-top: 0;
}
nav#header-nav ul ul li.last {
    margin: 0;
    border-bottom: 1px solid #ccc;
}

nav#header-nav ul ul li:hover {
    background: rgb(247,247,247);
    background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 100%);
}

nav#header-nav ul ul li a {
    padding: 0 20px;
    color: #404040;
    font-size: 13px;
    display: block;
    width: 172px;
    height: 39px;
    line-height: 39px;
    vertical-align: middle;
    margin: 0;
}

nav#header-nav ul ul li.sfHover,
nav#header-nav ul ul li.sfHover,
nav#header-nav ul ul li a:focus,
nav#header-nav ul ul li a:hover,
nav#header-nav ul ul li a:active {
    outline: 0;
    text-decoration: none;
}

nav#header-nav ul ul li:hover ul,
nav#header-nav ul ul li.sfHover ul {
    left: 191px;
    top: -1px;
}

nav#header-nav ul ul ul li:first-child,
nav#header-nav ul ul ul li.first {
    border-top: 1px solid #f2f2f2 !important;
}

#main-content {
    width: 976px;
}

.content-shadow {
    border: 1px solid #E1E1E1;
    /*box-shadow: 0 1px 3px 0 #CCCCCC;*/
	/*box-shadow: 0 0px 2px 0px rgb(202, 202, 202);*/
    margin-top: 20px;
    padding: 20px;
    background: #fdfdfd;
}
.contenttest.first {
    padding-left: 20px;
}

/*-------------------------------------
   6. FOOTER
-------------------------------------*/

#footer {
    padding: 40px 0 10px 0;
    color: #999999;
    font-size: 11px;
    font-style: italic;
    position: relative;
    top: -3px;
}

#footer p {
    color: #999999;
}

#footer ul li {
    float: left;
}

#footer ul li a {
    color: #515151;
    font-weight: bold;
    font-size: 11px;
    font-style: normal;
    display: inline-block;
}
#footer ul li.divider {
    margin: 0 6px;
}

#footer-pusher-info {
    font-style: normal;
    font-size: 10px;
}

/*-------------------------------------
   8. SHORTCODES
-------------------------------------*/

/*----- 8.1. COLUMNS -----*/

#content .one_half     { width:48%; }
#content .one_third    { width:30.66%; }
#content .two_third    { width:65.33%; }
#content .one_fourth   { width:22%; }
#content .three_fourth { width:74%; }
#content .one_fifth    { width:16.8%; }
#content .two_fifth    { width:37.6%; }
#content .three_fifth  { width:58.4%; }
#content .four_fifth   { width:67.2%; }
#content .one_sixth    { width:13.33%; }
#content .five_sixth   { width:82.67%; }

#content .one_half, #content .one_third, #content .two_third,
#content .three_fourth, #content .one_fourth, #content .one_fifth,
#content .two_fifth, #content .three_fifth, #content .four_fifth,
#content .one_sixth, #content .five_sixth {
    position: relative;
    margin-right: 4%;
    float: left;
}

#content .last {
    margin-right: 0 !important;
    clear: right;
}

/* CUSTOM PG */
#top-bar .player-dropdown-cp {
    visibility: hidden;
    display: none;
    position: absolute;
    z-index: 1000;
    top: 39px;
}
#top-bar .player-dropdown-cp-ident {
    display: none;
    width: 260px;
    background: #333;
    border: 2px solid #ccc;
    border-top: 0;
    padding: 10px 10px 0;
    color: #fff;
    left: -5px;
    top: 35px;

    clip: rect(0px, 1000px, 1000px, -10px);
    /*-webkit-box-shadow: 0 -1px 4px 1px #444;*/
    /*-moz-box-shadow: 0 -1px 7px 1px #444;*/
    /*box-shadow: 0 -1px 7px 1px #444;*/
}
#top-bar div#player-dropdown-cp-overview a {
    font-weight: bold;
    color: #fff;
}
#top-bar div#player-dropdown-cp-overview a:hover {
    color: #aaa;
}
#top-bar div#player-dropdown-cp-overview div.player-ucp-menu-item {
    margin-bottom: 5px;
}
#top-bar div#player-dropdown-cp-overview div.player-ucp-menu-item span {
    padding: 3px 0 0 5px;
}
#top-bar #top-bar-menu .player-ucp img.avatar.small {
    margin: 4px 8px 0 0;
    float: left;
}
#top-bar #top-bar-menu .player-ucp > span {
    text-shadow: none;
}
#top-bar #top-bar-menu .player-ucp img.avatar.big {
    height: 90px;
    margin: 0 5px 8px 0;
    width: 75px;
}
nav#top-bar #top-bar-checked-players-item > span {
    padding-right: 0 !important;
}

.noteNumb {
    background: #aaa;
    border-radius: 3px;
    padding: 4px 9px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}
.noteNumb.small {
    padding: 2px 4px;
    font-size: 10px;
}
.noteNumb.checkedIn,
.noteNumb.new {
    background: #8F0222;
}

h4.headline {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8dOjQfzs7O0YGKIAzMARgKjFUAABfJQgFoopxcwAAAABJRU5ErkJggg==');
    color: #555555;
    display: block;
    font-size: 17px;
    font-weight: bold;
    line-height: 10px;
    margin: 0 0 15px;
	cursor: default;
}
h4.headline span {
    background: none repeat scroll 0 0 #fdfdfd;
    margin-left: 12px;
    padding: 2px 10px;
}
h4.headline.clean,
h4.headline.clean span {
    background: none;
    margin-left: 0;
    padding: 0;
}
h4.headline span.btn-group {
    margin-top: -11px;
}
h4.headline span.btn-group button {
    margin-top: 0;
    margin-right: 0;
}
h4.headline span.headline-info {
    margin-left: 5px;
    font-size: 11px;
    margin-top: -2px;
}
h4.headline span.headline-info span {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

span.statistic-big {
    font-size: 52px;
}

table.ranking {
    width: 100%;
}
table.ranking thead tr th {
    border-bottom: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    font-weight: bold;
    padding: 8px 5px;
    vertical-align: middle;
    color: #757575;
}
table.ranking thead tr th.last-h,
table.ranking tbody tr td.last-h {
    border-right: 0;
}
table.ranking tbody tr td.last-v {
    border-bottom: 0;
}
table.ranking tbody tr td {
    border-bottom: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    vertical-align: middle;
    padding: 5px;
}
table.ranking tbody tr.odd td {
    background: #F9F9F9;
}
.ranking-player-name {
    float: left;
    padding-top: 7px;
    padding-left: 6px;
}
table.ranking tr td.big {
	font-size: 18px;
}
.ranking-rank {
    color: #707070;
}
table.ranking tr.player-inactive td a,
table.ranking tr.player-inactive td {
    color: darkred;
}

.avatar {
    border: 1px solid #ccc;
    padding: 1px;
}
.avatar.small {
    width: 21px;
    height: 24px;
}
.avatar.sm {
    width: 50px;
    height: 58px;
}
.avatar.medium {
    width: 55px;
    height: 65px;
}
.avatar.big {
    width: 95px;
    height: 110px;
}

.award-container {
    width: 110px;
    margin: 15px 25px 15px;
}
.award {
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 6px -2px #666666;
    padding: 6px;
    text-align: center;
    width: 101px;

    background: rgb(244,244,244);
    background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: -o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
}
.award > img {
    width: 100px;
    height: 95px;
}

form label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    float: left;
    margin-top: 7px;
}
form label.clean {
    font-weight: normal;
    width: auto;
    display: inline;
    float: none;
    margin-top: 0px;
}

.jEditable textarea {
    width: 50px !important;
}

div#adm-match-edit-score .score {
    background-color: #eee;
    border: 2px solid #ccc;
    color: #666;
    font-size: 26px;
    height: 25px;
    padding: 5px;
    text-align: center;
    width: 45px;
}

span.position {
    background-color: red;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    margin: 2px 5px;
}

span.position.teamRed {
    background-color: #BD0010;
}

span.position.teamYellow {
    background-color: yellow;
    color: #3C3E45;
}

div#avatarUpload input#avatarFileInput {
    position: absolute;
    visibility: hidden;
}

#facebox .fb-content {
    padding: 0;
    font-size: 12px;
}
#facebox .fb-content .fb-image {
    background-color: #fff;
}
#facebox .fb-content ul.styled li {
    list-style-type: circle;
    margin-bottom: 5px;
    margin-left: 20px;
    padding-left: 2px;
}
#facebox .fb-close {
    display: none !important;
}
#facebox .fb-content h1 {
    font-size: 19px;
    background: none repeat scroll 0 0 #333;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 1px 6px 0 #666;
    color: #eee;
    padding: 12px;
}
#facebox .fb-content .fb-controls {
    border-top: 1px solid #CCCCCC;
    background: #eee;
}
#facebox .fb-content .fb-controls.shadow {
    box-shadow: 0 1px 6px 0 #666666;
}
#facebox.fb-player-list .fb-content .fb-player-list-content {
    max-height: 340px;
    overflow: auto;
    padding: 10px;
}

#facebox .fb-content .fb-notification-list-content {
    max-height: 500px;
    overflow: auto;
    padding: 0px;
}
.fb-notification-list-content > div.notification-entry {
    border-bottom: 1px solid #eee;
    padding: 10px;
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(244,244,244,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(244,244,244,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(244,244,244,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(244,244,244,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(244,244,244,1) 100%);
    background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(244,244,244,1) 100%);
}
.fb-notification-list-content > div.notification-entry.last {
    border-bottom: 0;
}
.notification-entry .message {
    color: #888;
    margin-top: 6px;
}
.notification-entry .date-info {
    color: #999;
}
.notification-entry .dispose-notification {
    cursor: pointer;
}

.fb-notification-list-content .award {
    margin: 0 10px 10px 0;
    width: 51px;
}
.fb-notification-list-content .award > img {
    width: 50px;
    height: 50px;
}
.fb-notification-list-content .award-description {
    width: 200px;
}

/**
 * <FEEDBACK>
*/
#pg-feedback {
    padding: 10px;
}
#pg-feedback-form textarea {
    height: 140px;
    width: 340px;
}
ul.pg-feedback-options,
ul.pg-feedback-options li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.pg-feedback-options li {
    background-color: #666666;
    border: 2px solid #EEEEEE;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2);
    color: #999999;
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin-right: 7px;
    padding: 4px 10px;
}
ul.pg-feedback-options li:hover,
ul.pg-feedback-options li.selected {
    background: rgb(102,102,102);
    background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(53,53,53,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(53,53,53,1)));
    background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(53,53,53,1) 100%);
    background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(53,53,53,1) 100%);
    background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(53,53,53,1) 100%);
    background: linear-gradient(top, rgba(102,102,102,1) 0%,rgba(53,53,53,1) 100%);
    color: #fff;
}
/**
 * </FEEDBACK>
*/

div.content-toggle {
	cursor: pointer;
}
div.season-tile ul.ranks li {
	margin-bottom: 4px;
}
div.season-tile div.season-title {
	font-size: 23px;
	margin-bottom: 12px;
}
.season-tile {
	position: relative;
	width: 270px;
	border: 1px solid #ccc;
	float: left;
	padding: 9px;
	margin: 10px;
	background: #f9f9f9;
	border-radius: 5px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 80%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(80%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 80%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 80%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 80%,#ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 80%,#ededed 100%);
}
.season-tile:hover {
	background: #efefef;
	background: -moz-linear-gradient(top, #efefef 0%, #f9f9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#f9f9f9));
	background: -webkit-linear-gradient(top, #efefef 0%,#f9f9f9 100%);
	background: -o-linear-gradient(top, #efefef 0%,#f9f9f9 100%);
	background: -ms-linear-gradient(top, #efefef 0%,#f9f9f9 100%);
	background: linear-gradient(to bottom, #efefef 0%,#f9f9f9 100%);

}

.nowrap {
    white-space: nowrap;
}

/* margins */
.margin0 {
    margin: 0px;
}

.margin5 {
    margin: 5px;
}

.margin10 {
    margin: 10px;
}

.margin15 {
    margin: 15px;
}

.margin20 {
    margin: 20px;
}

.margin25 {
    margin: 25px;
}

.margin30 {
    margin: 30px;
}

.margin35 {
    margin: 35px;
}

.margin40 {
    margin: 40px;
}

.margint5 {
    margin-top: 5px;
}

.margint10 {
    margin-top: 10px;
}

.margint15 {
    margin-top: 15px;
}

.margint20 {
    margin-top: 20px;
}

.margint25 {
    margin-top: 25px;
}

.margint30 {
    margin-top: 30px;
}

.margint35 {
    margin-top: 35px;
}

.marginb5 {
    margin-bottom: 5px;
}

.marginb10 {
    margin-bottom: 10px;
}

.marginb15 {
    margin-bottom: 15px;
}

.marginb20 {
    margin-bottom: 20px;
}

.marginb25 {
    margin-bottom: 25px;
}

.marginl10 {
    margin-left: 10px;
}

.marginl20 {
    margin-left: 20px;
}

.marginr0 {
    margin-right: 0;
}

.marginr5 {
    margin-right: 5px;
}

.marginr10 {
    margin-right: 10px;
}

.marginr20 {
    margin-right: 20px;
}

.marginl50 {
    margin-left: 50px;
}

.marginl100 {
    margin-left: 100px;
}

.widthAuto {
    width: auto;
}

/* paddings */
.padding0 {
    padding: 0px;
}

.padding5 {
    padding: 5px;
}

.padding6 {
    padding: 6px;
}

.padding7 {
    padding: 7px;
}

.padding8 {
    padding: 8px;
}

.padding9 {
    padding: 9px;
}

.padding10 {
    padding: 10px;
}

.padding15 {
    padding: 15px;
}

.padding20 {
    padding: 20px;
}

.padding25 {
    padding: 25px;
}

.padding30 {
    padding: 30px;
}

.padding35 {
    padding: 35px;
}

.padding40 {
    padding: 40px;
}

.paddingr5 {
    padding-right: 5px;
}

.paddingb0 {
    padding-bottom: 0px;
}

.paddingb5 {
    padding-bottom: 5px;
}

.paddingb20 {
    padding-bottom: 20px;
}

.paddingt10 {
    padding-top: 10px;
}

.posRel {
    position: relative;
}

.disBlock {
    display: block;
}

.disInlBlock {
    display: inline-block;
}

.cursorPointer {
    cursor: pointer !important;
}

.hide {
    display: none;
}

.visHidden {
    visibility: hidden;
}

.textcenter {
    text-align: center;
}
.textright {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.pg-color {
    color: #3C3E45;
}

.red {
    color: #CC0033;
}

.yellow {
    color: #F2F200;
}

.limit-reached {
    color: #BD0010;
}

.default-cursor {
    cursor: default !important;
}

.posTrend {
    color: green;
}

.negTrend {
    color: #BD0010;
}

input[type=text],input[type=password],textarea {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 99%);
    background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 99%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 99%);
    background: linear-gradient(top, #ffffff 0%,#f4f4f4 99%);

    border: 1px solid  rgba(0, 0, 0, .2);
    padding: 6px;
    position: relative;
    font-size: 13px;
    width: 220px;
    font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus {
    outline: none;
    border-color: #999;	
    color: #222;
}

input[type=text]:disabled,input[type=password]:disabled,textarea:disabled {
    color: #ccc;
}

input[type=submit], button {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    margin: 4px 6px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}
input[type=submit]:hover, button:hover {
    background-color: #F8F8F8;
    border: 1px solid #C6C6C6;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}
input[type=submit]:focus, button:focus {
    background-color: #F8F8F8;
    border: 1px solid #C6C6C6;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}

input[type=submit][disabled],input[type=submit][disabled]:active,input[type=submit][disabled]:hover,button[disabled],button[disabled]:active,button[disabled]:hover {
    color: #ccc;
}

button.i-standalone {
    min-width: 35px;
    padding: 0;
}
button.i-standalone i {
    padding: 0;
}

button::-moz-focus-inner {
    border: 0;
}

button > i {
    padding-right: 6px;
    font-size: 15px;
}

.dataTables_filter label {
    float: none;
    width: auto;
}

div#profile-banner {
    position: relative;
}
div#profile-banner a.avatar-link {
    position: absolute;
    top: -21px;
    left: -21px;
}
div#profile-banner a.avatar-link img {
    width: 91px;
    height: 107px;
}
div#profile-banner div#profile-banner-playerdata {
    font-size: 28px;
    padding: 13px 0 0 90px;
}
span.profile-banner-thisisyou {
    font-size: 12px;
    color: darkred;
    font-weight: bold;
}
div.player-profile-awards div.award-container {
    margin: 15px 22px 15px;
}

div#profile-controls {
    margin-top: 3px;
}
div#profile-controls button.btn-cntrl {
    width: 95px;
    margin: 0 0 5px 0;
    white-space: nowrap;
}
div#profile-controls div.profile-controls-divider {
    width: 105px;
    float: left;
}
div#profile-controls div.control-dropdown ul li button {
    margin: 0;
    padding: 0 18px;
}

dl.profileStats {
    float: left;
    font-size: 12px;
    width: 450px;
}

dl.profileStats dt {
    float: left;
    font-weight: bold;
    width: 200px;
    padding: 5px 0;
    border-bottom: 1px dashed #eee;
}

dl.profileStats dd {
    float: left;
    width: 70px;
    text-align: right;
    padding: 5px 0;
    border-bottom: 1px dashed #eee;
}
dl.profileStats dd.last,
dl.profileStats dt.last {
    border-bottom: 0;
    padding-bottom: 0;
}

.width100P {
    width: 100%;
}

ul#rules > li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}
ul#rules > li.last {
    border-bottom: 0;
}
ul#rules > li ul li {
    list-style:  square;
    margin-left: 20px;
}
div.paragraph {
    color: #ccc;
    font-size: 60px;
    float: left;
    padding: 5px 20px;
    text-shadow: 3px 1px 2px #555555;
}
div.paragraph-text {
    padding: 10px 0 0 75px;
}

ul.changelog > li {
    list-style: square;
    margin: 10px 0 10px 20px;
}
ul.changelog > li h3 {
    font-weight: bold;
}
div#changelog .changelog-older-revs {
    display: none;
}
span.cl-description {
    font-size: 12px;
}

div.dash-divider {
    border-bottom: 1px dashed #ccc;
}
div.dash-divider.thick {
    border-bottom: 2px dashed #ccc;
}

table#player-compare #versus {
    color: #EEEEEE;
    font-size: 130px;
    text-align: center;
    vertical-align: middle;
}
table#player-compare thead tr th {
    width: 295px;
}
table#player-compare tr td:nth-child(1) {
    font-weight: bold;
}
table#player-compare tr th,
table#player-compare tr td {
    padding: 10px 3px;
    border-bottom: 1px dashed #ccc;
    border-right: 1px dashed #ccc;
}
table#player-compare tr td.sub {
    padding-left: 18px;
}
table#player-compare tr td.sub2 {
    padding-left: 36px;
}
table#player-compare tr th.v-last,
table#player-compare tr td.v-last {
    border-right: 0;
}
table#player-compare tr td.h-last {
    border-bottom: 0;
}

table#player-compare span.category {
    font-weight: bold;
    font-size: 18px;
    color: #888;
    margin-top: 15px;
    display: block;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
*/
table.dataTable thead .sorting_asc {
    background: url('/static/img/vendor/datatables/sort_asc.png') no-repeat center right;
}

table.dataTable thead .sorting_desc {
    background: url('/static/img/vendor/datatables/sort_desc.png') no-repeat center right;
}

table.dataTable thead .sorting {
    background: url('/static/img/vendor/datatables/sort_both.png') no-repeat center right;
}

table.dataTable thead .sorting_asc_disabled {
    background: url('/static/img/vendor/datatables/sort_asc_disabled.png') no-repeat center right;
}

table.dataTable thead .sorting_desc_disabled {
    background: url('/static/img/vendor/datatables/sort_desc_disabled.png') no-repeat center right;
}

table.dataTable thead .dataTables_wrapper thead th {
    cursor: pointer;
}

table.dataTable.no-footer {
    border-bottom: 0;
}

.fb-player-list-content > div.fb-player-list-content-item {
    height: 70px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.fb-player-list-content > div.fb-player-list-content-item.last {
    border-bottom: 0;
    padding-bottom: 0;
}
.fb-player-list-content > div.fb-player-list-content-item > span,
.fb-player-list-content > div.fb-player-list-content-item > .player-name {
    margin: 26px 0 0 10px;
    font-size: 18px;
    color: #666;
}
.fb-player-list-content.fb-player-list-awards > div.fb-player-list-content-item {
    height: auto;
    display: inline-block;
    width: 100%;
}
.fb-player-list-content.fb-player-list-awards > div.fb-player-list-content-item ul {
    list-style: circle;
    margin-left: 18px;
}
.fb-player-list-content.fb-player-list-awards > div.fb-player-list-content-item ul li {
    padding: 3px 0;
}

#page-loader {
    position: absolute;
    left: 48%;
    top: 5px;
}

span.winner-team {
    color: #777;
}
.match-entry {
    padding: 8px 0 8px;
    border-bottom: 1px dashed #ccc;
}
.match-entry.last {
    border-bottom: 0;
}

.control-dropdown-handle {
    position: relative;
}
.control-dropdown-handle:hover .control-dropdown {
    visibility: visible;
}
.control-dropdown {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%);
    background: linear-gradient(top, #ffffff 0%,#ededed 100%);
    border: 2px solid #D1D1D1;
    border-radius: 4px 4px 4px 4px;
    left: 8px;
    position: absolute;
    top: 33px;
    visibility: hidden;
}
.control-dropdown button {
    border-bottom: 0px;
}
.control-dropdown .triangle {
    border-color: transparent transparent #CCCCCC;
    border-style: solid;
    border-width: 8px;
    height: 0;
    left: 31px;
    position: absolute;
    top: -15px;
    width: 0;
}

div.enemy-stats {
    width: 145px;
}
div.enemy-stats .unknown {
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%);
    background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%);
    font-size: 120px;
    color: #ccc;
    margin-left: 24px;
    text-shadow: 2px 1px 1px #888888;
    cursor: default;
}

div.special-headline {
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFklEQVQIW2NkwAIYgWKS6OKkCWKYCgAS7QBRTph5nAAAAABJRU5ErkJggg==') repeat-x 0px 14px;
    color: #fff;
    font-size: 28px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #777;
}
div.special-headline > span {
    background-color: #eee;
    padding:5px;
}
div.special-headline-info {
    color: #777777;
    font-size: 12px;
    margin-top: -5px;
}
div.content-shadow div.special-headline > span {
    background-color: #fdfdfd;
}

::-webkit-input-placeholder  { color:#ccc; }
input:-moz-placeholder { color:#ccc; }

/*
* alerts
*/
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
}
.alert-heading {
    color: inherit;
    font-weight: bold;
}
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}
/*
* /alerts
*/

div#player-home-inactive {
    margin: 15px 0 0 0 !important;
}

div#not-found-page {
    position: relative;
}
div#not-found-page div.nf-headline {
    position: absolute;
    font-size: 130px;
    font-weight: bold;
    right: 50px;
    top: 45px;
}

div#not-found-page div.nf-text {
    position: absolute;
    right: 50px;
    width: 363px;
    top: 200px;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
}

div#not-found-page div.nf-text-small {
    font-size: 18px;
    margin-top: 20px;
}

div#match-filter {
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 15px;
}
div#match-filter form label {
    display: inline-block;
    font-weight: normal;
    float: none;
    width: 120px;
}

div.pagination {
    text-align: center;
}
div.pagination ul li {
    display: inline-block;
}
div.pagination a {
    padding: 2px 8px;
    margin: 0 1px;
    background-color: #ccc;
    color: #fff;
    text-shadow: 1px 1px #686868;
}
div.pagination a:hover {
    background-color: #bbb;
}
div.pagination a.current {
    background-color: #888;
    color: #fff;
}
div.pagination a i {
    width: auto;
}

/*
*
* /////// PICKADATE CUSTOM
*
*/
.picker {
}
.picker__box {
    padding: 0.5em 1em;
}
table.picker__table,
table.picker__table tr th,
table.picker__table tr td {
    text-align: center;
}
.picker__button--today,
.picker__button--clear {
    width: 40%;
    padding: 0;
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
    background-color: #888;
    border-color: transparent;
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
    background-color: #eee;
    color: #000;
}
.picker__button--clear:before,
.picker__day--today {
    color: #C70000;
}
.picker__button--today:before,
.picker__day--today:before {
    border-top: 0.5em solid #C70000;
}
.picker__day--selected.picker__day--today:before {
    border-top: 0.5em solid #fff;
}

.picker__button--today:hover,
.picker__button--clear:hover,
.picker__button--today:focus,
.picker__button--clear:focus {
    background: none;
    border-color: transparent;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
    background-color: #eee;
}
.picker__day--highlighted {
    background-color: #888;
    border-color: transparent;
}
.picker__day--selected {
    font-weight: bold;
}

.select2-search input {
    width: 100%;
}

/*
*
* /////// PG SPECIAL
*
*/
html.pg-special {
    height: 100%;
}
body.pg-special {
    text-align: center;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
}
body.pg-special div#wrapper {
    margin: 0 auto;
    width: 450px;
}
body.pg-special .content-shadow {
    box-shadow: 0 2px 8px 0 #888888;
}
div#pg-special-panel {
    background: rgb(239,239,239);
    background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 100%);
    background: linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 100%);
}
div#pg-special-panel label {
    margin-bottom: 5px;
}
div#pg-special-panel input {
    border: 1px solid #CCCCCC;
    font-size: 18px;
    height: 30px;
    padding: 2px 10px;
    width: 388px;
    text-align: center;
}
div#pg-special-panel #submit {
    margin-left: 0;
    margin-top: 12px;
    padding-left: 10px;
    width: 411px;
}
div#pg-special-panel label {
    display: inline-block;
    width: 410px;
    font-weight: bold;
}
div#pg-special-panel input:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
a.login-button { 
	width: 251px; 
	height:42px; 
	display: inline-block; 
} 
a.login-button.facebook { 
	background: url('/static/img/login-btns.png') no-repeat -2px -1px; 
} 
a.login-button.facebook:hover { 
	background: url('/static/img/login-btns.png') no-repeat -2px -44px; 
} 
a.login-button.facebook:active { 
	background: url('/static/img/login-btns.png') no-repeat -2px -87px; 
} 
a.login-button.twitter { 
	background: url('/static/img/login-btns.png') no-repeat -2px -130px; 
} 
a.login-button.twitter:hover { 
	background: url('/static/img/login-btns.png') no-repeat -2px -173px; 
} 
a.login-button.twitter:active { 
	background: url('/static/img/login-btns.png') no-repeat -2px -216px; 
} 
a.login-button.google { 
	background: url('/static/img/login-btns.png') no-repeat -2px -259px; 
} 
a.login-button.google:hover { 
	background: url('/static/img/login-btns.png') no-repeat -2px -302px; 
} 
a.login-button.google:active { 
	background: url('/static/img/login-btns.png') no-repeat -2px -345px; 
}
/*
*
* /////// PG SPECIAL
*
*/